{extends file="main.html"}

{block name=footer}{/block}

{block name=content}

<center><h3>Kalkulator kredytowy</h2>

<div class="pure-menu pure-menu-horizontal bottom-margin">
</div>

<form class="pure-form pure-form-stacked" action="{$conf->action_root}calcCompute" method="post">
	<fieldset>
		<label>Kwota kredytu: </label>
		<input type="text" placeholder="Kwota kredytu" name="kwota" style="width: 500px;" value="{$form->kwota}">
		
		<label>Oprocentowanie: </label>
		<input type="text" placeholder="Oprocentowanie" name="procent" style="width: 500px;" value="{$form->procent}">
		
		<label>Liczba miesięcy: </label>
		<input type="text" placeholder="Liczba miesięcy" name="ile" style="width: 500px;" value="{$form->ile}">
	</fieldset>
	<button type="submit" id="oblicz" class="pure-button pure-button-primary">Oblicz</button>
</form>

{include file='messages.tpl'}

{if isset($res->result)}
<div class="messages inf">
	Miesięczna rata: {$res->result}
</div>
{/if}

{/block}